.form input, .form select, .form textarea, .form-field,.form {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 10px;
    font-size: .9rem;
}

.padding_0 {
    padding: 0 !important;
}
